table {
    border-collapse: collapse;
    text-align: left;
    display: block;
    clear: both;
}
th {
    font-weight: normal;
    color: black;
    padding: 10px 15px;
}
td {
    color: #5f5f5f;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
}
tr:hover td {background: #30588c;
    color: white;}
tr:hover td a{
    background: white;
    color: #30588c;
}

td a{
    background-color: #30588c;
    border: none;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font:normal 14px/1.2em Georgia, "Times New Roman", Times, serif;
    cursor: pointer;
}